body {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 800px;
    margin: 0 auto;
}

.wrapper h1 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 40px;
}

.wrapper h2 {
    text-align: left;
}

.line{
    height: 25px;
    min-width: 800px;
    margin: 10px auto;
    line-height: 25px;
    font-size: 14px;
    color: #fff;
    padding: 0 0 0 10px;
    position: relative;
}

.line::before {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    height: 25px;
    top: 0;
    z-index: -2;
    background: #d2d6d7;
}

.line::after {
    content: "";
    background: #333;
    height: 25px;
    transition: .8s;
    display: block;
    width: 100%;
    animation: animate 4s;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.line1::after {
    max-width: 90%;
}

.line2::after {
    max-width: 80%;
}

.line3::after {
    max-width: 70%;
}

.line4::after {
    max-width: 65%;
}

@keyframes animate {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}