* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: sans-serif;
    background-color: #333;
}

h3 {
    margin-bottom: 20px;
}

.skills {
    width: 500px;
    margin: 60px auto;
    color: white;
}

.skills li {
    margin: 20px 0;
}

.skills .bar {
    display: block;
    background-color: #353b48;
    height: 2px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 10px #2187e7b3;
}

.bar span {
    height: 2px;
    float: left;
    background-color: #2187e7;
}

.html {
    width: 90%;
    animation: html 2s;
}

.css {
    width: 65%;
    animation: css 2s;
}

.jquery {
    width: 70%;
    animation: jquery 2s;
}

.javascript {
    width: 60%;
    animation: javascript 2s;
}

@keyframes html {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }

}

@keyframes css {
    0% {
        width: 0%;
    }

    100% {
        width: 65%;
    }

}

@keyframes jquery {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }

}

@keyframes javascript {
    0% {
        width: 0%;
    }

    100% {
        width: 60%;
    }

}